<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "CanvasApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased py-2">

    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_account do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_account.email %>
        </li>
         <li>
         <%= if @current_account.admin do %>   

          <.link
            href={~p"/admin"}
             class="inline-block bg-orange-500 text-white px-4 py-1 text-sm font-semibold rounded-lg hover:bg-zinc-600"
          >
            AdminZone
          </.link>   
          <% end %>


          <.link
            href={~p"/accounts/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/accounts/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/accounts/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/accounts/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>

      <footer class="bg-gray-200 py-6">
        <div class="container mx-auto text-center">
            <p class="text-gray-600">&copy; 2023 Canvasify. All rights reserved.</p>
        </div>
    </footer>
</html>
